{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</nav>

<main class="content" role="main">
<div class="price-chart">
    <div class="attr-col">
        <ul>
            <li>Requirements:</li>
            <li>Installation &amp; Set Up:</li>
            <li>Ongoing Support:</li>
            <li>On-boarding &amp; Training:</li>
            <li>Email Integration:</li>
            <li>SSL Encryption:</li>
            <li>Managed Upgrades &amp; Maintenance:</li>
            <li>Scaling &amp; Security:</li>
            <li class="last">Automated Backups:</li>
        </ul>
    </div>
    <div class="pt-table">
        <div class="pt-special">
            <ul class="pt-rows">
                <li class="title">Cloud Hosted</li>
                <li><span style="height:54px"><img src="http://osticket.com/sites/default/files/supportsystem.png" style="height:50px;width:auto"></span></li>
                <li><span>None, we got you!</span></li>
                <li><span>On demand, ready immediately</span></li>
                <li><span>Email and phone support</span></li>
                <li><span>Free walk-through session</span></li>
                <li><span>Supported out of the box</span></li>
                <li><span>Included</span></li>
                <li><span>Included</span></li>
                <li><span>Rock-solid infrastructure, guaranteed uptime </span></li>
                <li><span>Daily backups, redundant platform</span></li>
                <li class="fin">
                   <a class="btn btn-large btn-info" style="margin-top:20px;" href="http://supportsystem.com/pricing?s=ost" target="_blank">Sign Up</a>
                   <div style="padding-top:1px; color: #999;">No credit card or commitment required</div>
                </li>
            </ul>
        </div>
        <div class="pt-body">
            <ul class="pt-rows">
                <li class="title"><span>Self Hosted</span><span> </span></li>
                <li><span style="height:54px"><img src="http://osticket.com/sites/default/files/osticket-logo_7.png" style="height:50px;width:auto"></span><span style="height:54px"></span></li>
                <li><span>Web and database server</span><span>-</span></li>
                <li><span>Install and set up required</span><span>-</span></li>
                <li><span>Community supported</span><span>-</span></li>
                <li><span>You're on your own</span><span>-</span></li>
                <li><span>Additional set up required</span><span>-</span></li>
                <li><span>Additional set up required</span><span>-</span></li>
                <li><span>You're on your own</span><span>-</span></li>
                <li><span>You're on your own</span><span>-</span></li>
                <li><span>You're on your own</span><span>-</span></li>
                <li class="fin"><span><a class="btn btn-large btn-primary" style="margin-top:20px;" href="/download">Download</a></span></li>
            </ul>
        </div>
    </div>
</div>
<br><br>
<div class="blue">
</main>
