{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</nav>

<main class="content" role="main">
<div class="price-chart" id="price-chart">
    <div class="attr-col">
        <ul>
            <li>Apply Domain Name:</li>
            <li>Apply Virtual Space:</li>
            <li>Config DNS:</li>
            <li>Setup Email System:</li>
            <li>Install DevOps Systems:</li>
            <li>Knowledge Newsletter:</li>
            <li>Upgrade Systems</li>
            <li>Install Plugins</li>
            <li>Tune Performance</li>
            <li>Daily Backup</li>
            <li>Technical Forum Support</li>
            <li>4 Hours Email Support</li>
            <li>Skype Online Support</li>
            <li class="last">24 Hours Onsite Support</li>
        </ul>
    </div>
    <div class="pt-table">    
        <div class="pt-body">
            <ul class="pt-rows">
                <li class="title"><span>Basic</span><span>Standard</span><span>Professional</span><span>Hidden Column</span></li>
                <li class="fees"><span>FREE</span><span>$1000/m</span><span>$8000/m</span><span>$25</span></li>
                <li><span>*</span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span>*</span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span>*</span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span>*</span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-no"></span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-no"></span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-no"></span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-no"></span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-no"></span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-no"></span><span class="pt-yes"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-no"></span><span class="pt-no"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li><span class="pt-no"></span><span class="pt-no"></span><span class="pt-yes"></span><span class="pt-yes"></span></li>
                <li class="fin"><span class="pt-3x"><a href="#" class="big-button">Browse Systems</a></span></li>
            </ul>
        </div>
        <div class="pt-special">
            <ul class="pt-rows">
                <li class="title">Special Plan</li>
                <li class="fees"><span>$100/s/m</span></li>
                <li><span> - </span></li>
                <li><span> - </span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li><span class="pt-yes"></span></li>
                <li class="fin"><a href="#" class="big-button">Join Now</a></li>
            </ul>
        </div>
    </div>
</div>
</main>
