{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</nav>

<main class="content" role="main">
<div class="pricing_table">
<ul class="pricing_table">
	<li class="price_block">
		<h3>Starter</h3>
		<div class="price">
			<div class="price_figure">
				<span class="price_number">FREE</span>
			</div>
		</div>
		<ul class="features">
			<li>1GB Storage</li>
			<li>2 Clients</li>
			<li>5 Active Projects</li>
			<li>5 Colors</li>
			<li>Free Goodies</li>
			<li>24/7 Email support</li>
			<li>24/7 Email support2</li>
		</ul>
		<div class="footer">
			<a href="#" class="action_button">Buy Now</a>
		</div>
	</li>
	<li class="price_block">
		<h3>Basic</h3>
		<div class="price">
			<div class="price_figure">
				<span class="price_number">$9.99</span>
				<span class="price_tenure">per month</span>
			</div>
		</div>
		<ul class="features">
			<li>2GB Storage</li>
			<li>5 Clients</li>
			<li>10 Active Projects</li>
			<li>10 Colors</li>
			<li>Free Goodies</li>
			<li>24/7 Email support</li>
			<li>24/7 Email support</li>
			<li>24/7 Email support</li>
		</ul>
		<div class="footer">
			<a href="#" class="action_button">Buy Now</a>
		</div>
	</li>
	<li class="price_block">
		<h3>Premium</h3>
		<div class="price">
			<div class="price_figure">
				<span class="price_number">$19.99</span>
				<span class="price_tenure">per month</span>
			</div>
		</div>
		<ul class="features">
			<li>5GB Storage</li>
			<li>10 Clients</li>
			<li>20 Active Projects</li>
			<li>20 Colors</li>
			<li>Free Goodies</li>
			<li>24/7 Email support</li>
			<li>24/7 Email support</li>
			<li>24/7 Email support</li>
			<li>24/7 Email support</li>
		</ul>
		<div class="footer">
			<a href="#" class="action_button">Buy Now</a>
		</div>
	</li>
	<li class="price_block">
		<h3>Lifetime</h3>
		<div class="price">
			<div class="price_figure">
				<span class="price_number">$999</span>
			</div>
		</div>
		<ul class="features">
			<li>Unlimited Storage</li>
			<li>Unlimited Clients</li>
			<li>Unlimited Projects</li>
			<li>Unlimited Colors</li>
			<li>Free Goodies</li>
			<li>24/7 Email support</li>
		</ul>
		<div class="footer">
			<a href="#" class="action_button">Buy Now</a>
		</div>
	</li>
</ul>


<ul class="skeleton pricing_table" style="margin-top: 100px; overflow: hidden;">
	<li class="label" style="margin: 0 none;">ul.pricing_table</li>
	<li class="price_block">
		<span class="label">li.price_block</span>
		<h3><span class="label">h3</span></h3>
		<div class="price">
			<span class="label">div.price</span>
			<div class="price_figure">
				<span class="label">div.price_figure</span>
				<span class="price_number">
					<span class="label">span.price_number</span>
				</span>
				<span class="price_tenure">
					<span class="label">span.price_tenure</span>
				</span>
			</div>
		</div>
		<ul class="features">
			<li class="label">ul.features</li>
			<br /><br /><br />
		</ul>
		<div class="footer">
			<span class="label">div.footer</span>
		</div>
	</li>
	
	
	<li class="price_block" style="opacity: 0.5;">
		<span class="label">li.price_block</span>
		<h3><span class="label">h3</span></h3>
		<div class="price">
			<span class="label">div.price</span>
			<div class="price_figure">
				<span class="label">div.price_figure</span>
				<span class="price_number">
					<span class="label">span.price_number</span>
				</span>
				<span class="price_tenure">
					<span class="label">span.price_tenure</span>
				</span>
			</div>
		</div>
		<ul class="features">
			<li class="label">ul.features</li>
			<br /><br /><br />
		</ul>
		<div class="footer">
			<span class="label">div.footer</span>
		</div>
	</li>
	<li class="price_block" style="opacity: 0.25;">
		<span class="label">li.price_block</span>
		<h3><span class="label">h3</span></h3>
		<div class="price">
			<span class="label">div.price</span>
			<div class="price_figure">
				<span class="label">div.price_figure</span>
				<span class="price_number">
					<span class="label">span.price_number</span>
				</span>
				<span class="price_tenure">
					<span class="label">span.price_tenure</span>
				</span>
			</div>
		</div>
		<ul class="features">
			<li class="label">ul.features</li>
			<br /><br /><br />
		</ul>
		<div class="footer">
			<span class="label">div.footer</span>
		</div>
	</li>
</ul>
</div>
</main>
